.inputForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  input:focus {
    outline: none;
    border: 2px solid #0c4c8c;
  }
}
.inputItem {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #f2f8ff;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  textarea:focus {
    outline: none;
    border: 2px solid #0c4c8c;
  }
  textarea {
    height: 250px;
  }
}
.text {
  margin-bottom: 40px;
}
.containerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.contentItem {
  width: 100%;
}
