.ListVideoWrap {
  background-image: url(/images/bg-list-video.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 120px 0 200px 0;
  .ListVideoContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    .title {
      margin-bottom: 10px;
    }
    .textContent {
      margin-bottom: 64px;
    }
    .oneVideo {
      padding: 10px;
      .shadow {
        box-shadow: 0px 8px 10px 0px #14518929;
        border-radius: 12px;
      }
      iframe {
        border-radius: 12px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 50px 0px 100px 0;
  }

  @media screen and (max-width: 768px) {
    .ListVideoContainer {
      .title {
        font-size: 22px;
        line-height: 32px;
      }
      .textContent {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
      }
      .videoComment {
        height: 220px !important;
      }
    }
  }
}
