.contentCourse {
  .infoCourseWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    .infoCourse {
      display: flex;
      align-items: flex-start;
      .infoItem {
        padding: 0 16px;
        border-right: 1px solid var(--neutral-6);
        &:first-child {
          padding: 0 16px 0 0;
        }
        &:last-child {
          padding: 0 0 0 16px;
          border-right: none;
        }
      }
    }
    .heart {
      width: 48px;
      height: 48px;
      background: var(--main-color-primary);
      border-radius: 8px;
      display: grid;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
    .share {
      height: 48px;
      width: 120px;
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .tab,
    .tabActive {
      margin-right: 32px;
      height: 40px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
    .tabActive {
      border-bottom: 3px solid var(--main-color-primary);
    }
  }
  .renderTab {
    min-height: 200px;
  }
  @media screen and (max-width: 768px) {
    .infoCourseWrap {
      flex-direction: column-reverse;
      align-items: flex-start;
      .infoCourse {
        margin-top: 15px;
      }
    }
    .tabs {
      flex-wrap: wrap;
      justify-content: space-between;
      .tab,
      .tabActive {
        width: calc(50% - 10px);
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .infoCourse {
      .infoItem {
        padding: 0 5px;
      }
    }
    .tabs {
      .tab,
      .tabActive {
        font-size: 14px;
      }
    }
  }
}
