.newPasswordWrap {
  .newPasswordForm {
    .newPasswordItem {
      margin-bottom: 30px;
      .input {
        background: var(--background-2);
      }
    }
    button {
      width: 100%;
    }
    .border {
      width: calc(50% - 90px);
      border: 1px solid var(--neutral-5);
    }
    .textBottom {
      &::before {
        content: "";
        width: 100%;
        border-bottom: 1px solid;
      }
    }
  }
}
