.loginWrap {
  .loginForm {
    .loginFormItem {
      margin-bottom: 30px;
      .input {
        background: var(--background-2);
      }
    }
    button {
      width: 100%;
    }
    .border {
      width: calc(50% - 90px);
      border: 1px solid var(--neutral-5);
    }
    .textBottom {
      &::before {
        content: "";
        width: 100%;
        border-bottom: 1px solid;
      }
    }
    .faceBook {
      margin-right: 12px;
      width: calc(50% - 12px);
      background: #1877f2;
      height: 48px;
      border-radius: 8px;
      padding-left: 23px;
      cursor: pointer;
      text-align: left;
    }
    .google {
      width: calc(50% - 12px);
      background: #de4b39;
      height: 48px;
      border-radius: 8px;
      padding-left: 23px;
      cursor: pointer;
    }
  }
}
