.registerWrap .registerForm .registerFormItem {
  margin-bottom: 30px;
  position: relative;
}
.registerWrap .registerForm .registerFormItem .input {
  background: var(--background-2);
}
.registerWrap .registerForm .registerFormItem .textError {
  position: absolute;
  top: calc(100% + 0.3em);
  color: var(--sematic-1);
  font-size: 12px;
  margin-top: 4px;
}

.registerWrap .registerForm .textCheckBox {
  position: relative;
  padding-left: 30px;
}

.registerWrap .registerForm .textCheckBox:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: var(--sematic-2);
  border-radius: 4px;
}

.registerWrap .registerForm input[type="checkbox"] {
  display: none;
}

.registerWrap
  .registerForm
  input[type="checkbox"]:checked
  + .textCheckBox:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 12px;
}

.registerWrap .registerForm button {
  width: 100%;
}

.registerWrap .registerForm .textBottom::before {
  content: "";
  width: 100%;
  border-bottom: 1px solid;
}

.registerWrap .registerForm .faceBook {
  margin-right: 12px;
  width: calc(50% - 12px);
  background: #1877f2;
  height: 48px;
  border-radius: 8px;
  padding-left: 23px;
}

.registerWrap .registerForm .google {
  width: calc(50% - 12px);
  background: #de4b39;
  height: 48px;
  border-radius: 8px;
  padding-left: 23px;
}
