.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  width: 100vw;
  max-width: 340px;
}
.message svg {
  margin-bottom: 30px;
}
.message h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0.5em;
}
.message h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1em;
}
.message button {
  width: 100%;
}
