.studentCommentsPadding {
  padding-top: 120px;

  .studentCommentsWrapper {
    background-image: url(/svg/cloud-small-2.svg), url(/svg/cloud-small-2.svg);
    background-repeat: no-repeat;
    background-position: left 72px top, right 56px bottom;
    background-size: 168px, 244px;

    .studentComments {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      padding-bottom: 2px;
      .studentCommentsButton {
        width: calc(50% - 80px);
        justify-content: flex-end;
        right: unset;
      }
      @media screen and (max-width: 1200px) {
        padding: 0 20px;
      }
    }
    .boxRating {
      background-color: var(--blue-6);
      border-radius: 20px;
      border: 1px solid #a8a7ae33;
      max-width: 500px;
      padding: 30px;
      .rating {
        display: flex;
        margin-bottom: 20px;
      }
    }
    .user {
      display: flex;
      align-items: center;
    }
    .studentCommentsBox {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .studentCommentsLeft {
        width: calc(50% - 25px);
        padding-bottom: 74px;
      }
      .studentCommentsRight {
        width: calc(50% - 25px);
        position: relative;
        .cloud {
          position: absolute;
          bottom: 0;
          right: 0;
        }
        .boxBlue {
          height: 282px;
          width: 100%;
          border-radius: 12px;
          background-color: var(--main-color-primary);
          position: absolute;
          bottom: 0;
          left: -20px;
          z-index: -1;
        }
        .videoComment {
          height: 560px;
          margin-bottom: 20px;
          iframe,
          img {
            border-radius: 12px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding-top: 50px;
  }
  @media screen and (max-width: 768px) {
    .studentCommentsWrapper {
      background-size: 100px;
      background-position: left 10px top, right 10px bottom;
      .studentCommentsBox {
        flex-direction: column;
        .studentCommentsLeft {
          width: 100%;
          padding-bottom: 10px;
          .title {
            font-size: 22px;
            line-height: 32px;
            text-align: center;
          }
          .textContent {
            margin: 0 auto;
          }
          .boxRating {
            max-width: 100%;
            margin-bottom: 20px;
          }
        }
        .studentCommentsRight {
          width: calc(100% - 50px);
          margin: 0 auto;
          .videoComment {
            height: 300px !important;
            iframe,
            img {
              border-radius: 20px;
            }
          }
        }
      }
      .studentComments {
        .studentCommentsButton {
          width: 100%;
          justify-content: center;
          bottom: -50px;
        }
      }
    }
  }
}
