@import "/src/global/scss/color";

.carousel-container {
  position: relative;
  min-height: 100px;
}
.carousel-button-group {
  position: absolute;
  right: 98px;
  bottom: 0;
  display: flex;
  align-items: center;
}
.dotListClass {
  left: 98px !important;
  justify-content: flex-start !important;
}
.dotCarousel {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.activeDot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--main-color-primary);
}
.inactiveDot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--gray-100);
}
.button-carousel {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.containerClass {
  margin-bottom: 32px;
}
.disable-button-carousel {
  @extend .button-carousel;
  background-color: var(--tint-primary-9);
}
.able-button-carousel {
  @extend .button-carousel;
  background-color: var(--main-color-primary);
}
