@import "/src/global/scss/color";

.carousel-container {
  position: relative;
  min-height: 100px;
}
.carousel-button-group {
  position: absolute;
  right: 98px;
  bottom: 0;
  display: flex;
  align-items: center;
}
.dotListClass {
  left: 98px !important;
  justify-content: flex-start !important;
  bottom: 0;
  @media screen and (max-width: 768px) {
    bottom: -50px !important;
  }
}
.dotCarousel {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.activeDot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--main-color-primary);
}
.inactiveDot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--gray-100);
}
.button-carousel {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.containerClass {
  margin-bottom: 32px;
}
.disable-button-carousel {
  @extend .button-carousel;
  background-color: var(--tint-primary-9);
}
.able-button-carousel {
  @extend .button-carousel;
  background-color: var(--main-color-primary);
}
.container-class-course {
  height: unset;
  width: calc(100% - 150px);
  margin: 0 auto;
  position: static !important;
  .react-multiple-carousel__arrow {
    background: #4a556866;
  }
  .react-multiple-carousel__arrow--right {
    right: 20px;
  }
  .react-multiple-carousel__arrow--left {
    left: 20px;
  }
  .react-multi-carousel-dot {
    button {
      border: none;
      background: var(--neutral-6);
    }
  }
  .react-multi-carousel-dot--active {
    button {
      border: none;
      background: var(--main-color-primary);
    }
  }
  @media screen and (max-width: 1024px) {
    width: calc(100% - 70px);
    .react-multiple-carousel__arrow--right {
      right: 20px;
      width: 20px;
      height: 20px;
    }
    .react-multiple-carousel__arrow--left {
      left: 20px;
      width: 20px;
      height: 20px;
    }
  }
}

.slider-lecturer {
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-list {
    width: calc(100% - 100px);
    margin: 0 auto;
  }
  .slick-slide {
    width: calc(100% / 12 - 50px);
    opacity: 0.6;
    .text-content-lecturer {
      display: none;
    }
    .button-lecturer {
      display: none;
    }
  }
  .slick-current + .slick-active {
    width: calc(100% / 12 + 100px);
    opacity: 1;
    .text-content-lecturer {
      display: block;
    }
    .button-lecturer {
      display: block;
    }
  }
  .slick-prev {
    left: 0;
    &::before {
      display: none;
    }
  }

  .slick-next {
    right: 0;
    &::before {
      display: none;
    }
  }

  .slick-prev,
  .slick-next {
    width: 48px;
    height: 48px;
    background: #767f8c4d;
    display: grid !important;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    &:hover {
      background: #767f8c4d;
    }
  }
  .slick-dots {
    li {
      margin: 0 12px 0 0;
      width: unset;
      height: unset;
      button {
        border-radius: 100%;
        width: 12px;
        height: 12px;
        background-color: var(--neutral-6);
        &::before {
          display: none;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }

    li.slick-active {
      button {
        background-color: var(--main-color-primary);
      }
      &::before {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .slick-slide {
      width: calc(100% / 12);
      .text-content-lecturer {
        display: block;
      }
      .button-lecturer {
        display: block;
      }
    }
    .slick-list {
      width: calc(100% - 80px);
    }
    .slick-prev,
    .slick-next {
      width: 30px;
      height: 30px;
    }
    .slick-current + .slick-active {
      width: calc(100% / 12);
    }
  }
}
.learning-slick {
  .slick-slide {
    padding: 10px;
  }

  .slick-prev::before {
    content: none;
  }
  .slick-next::before {
    content: none;
  }
  .slick-next,
  .slick-prev {
    background: #f7fafc;
    width: 48px;
    height: 48px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 8px 10px 0px #14518929;
    z-index: 3;
    &:hover {
      background: #f7fafc;
    }
  }
}
