:root {
  --main-color-secondary: #e60f37;
  --main-color-primary: #0f5faf;
  --main-color-teriary: #e60f37;
  --neutral-10: #ffffff;
  --neutral-9: #f7fafc;
  --neutral-8: #edf2f7;
  --neutral-7: #edf2f7;
  --neutral-6: #cbd5e0;
  --neutral-5: #a0aec0;
  --neutral-4: #718096;
  --neutral-3: #4a5568;
  --neutral-2: #2d3748;
  --neutral-1: #041f4a;
  --background-3: #ffffff;
  --background-2: #f2f9ff;
  --background-1: #eef5ff;
  --sematic-11: #fdf2f8;
  --sematic-10: #fff4e8;
  --sematic-9: #fffdf4;
  --sematic-8: #effff5;
  --sematic-7: #14b5fb;
  --sematic-6: #ed4f9d;
  --sematic-5: #ffa23a;
  --sematic-4: #21d969;
  --sematic-3: #f9d11f;
  --sematic-2: #00e5ae;
  --sematic-1: #ff3e3e;
  --accent-9: #ff7648;
  --accent-8: #2d32a4;
  --accent-7: #9ba1ff;
  //   --accent-6: #ff3e3e;
  //   --accent-5: #ff3e3e;
  //   --accent-4: #fac438;
  //   --accent-3: #ff3e3e;
  //   --accent-2: #ff3e3e;
  //   --accent-1: #ff3e3e;
  //   --linear-1: #9ba1ff;
  --tint-primary-9: #e7eff7;
  --tint-primary-8: #cfdfef;
  --tint-primary-7: #b7cfe7;
  --tint-primary-6: #9fbfdf;
  --tint-primary-5: #87afd7;
  --tint-primary-4: #6f9fcf;
  --tint-primary-3: #578fc7;
  --tint-primary-2: #3e7ebf;
  --tint-primary-1: #266fb7;
  --tint-secondary-9: #fef0ec;
  --tint-secondary-8: #fee2d9;
  --tint-secondary-7: #fed3c6;
  --tint-secondary-6: #fdc5b3;
  --tint-secondary-5: #fdb6a0;
  --tint-secondary-4: #fda88d;
  --tint-secondary-3: #fc997a;
  --tint-secondary-2: #fc8b67;
  --tint-secondary-1: #fc7c54;
  --shade-primary-9: #010911;
  --shade-primary-8: #031323;
  --shade-primary-7: #041c34;
  --shade-primary-6: #062646;
  --shade-primary-5: #072f57;
  --shade-primary-4: #093969;
  --shade-primary-3: #0a427a;
  --shade-primary-2: #0c4c8c;
  --shade-primary-1: #0d559d;
  --shade-secondary-6: #642c1a;
  --shade-secondary-5: #7e3721;
  --shade-secondary-4: #974227;
  --shade-secondary-3: #b04d2e;
  --shade-secondary-2: #c95834;
  --shade-secondary-1: #e2633b;
  --bule-1: #003b9f;
  --bule-2: #114b91;
  --bule-3: #0055e5;
  --bule-4: #6ba3ff;
  --bule-5: #aec7e5;
  --bule-6: #f0f5ff;
  --primary-bule: #1e73be;
  --primary-base: #052a45;
  --primary-light: #637177;
  --primary-lighter: #d0cdcd;
  --gray-100: #cfd3d6;
  --gray-500: #a8a7ae;
  --dark-500: #100f14;
  --background-2: #f2f8ff;
  --background-3: #fafafa;
}

.primary-light {
  color: var(--primary-light);
}
.primary-base {
  color: var(--primary-base);
}
.primary-bule {
  color: var(--primary-bule);
}
.neutral-1 {
  color: var(--neutral-1);
}
.neutral-2 {
  color: var(--neutral-2);
}
.neutral-3 {
  color: var(--neutral-3);
}
.neutral-4 {
  color: var(--neutral-4);
}
.neutral-5 {
  color: var(--neutral-5);
}
.neutral-6 {
  color: var(--neutral-6);
}
.neutral-10 {
  color: var(--neutral-10);
}
.neutral-9 {
  color: var(--neutral-9);
}
.neutral-8 {
  color: var(--neutral-8);
}
.main-color-secondary {
  color: var(--main-color-secondary);
}
.main-color-primary {
  color: var(--main-color-primary);
}
.shade-primary-4 {
  color: var(--shade-primary-4);
}
.shade-primary-5 {
  color: var(--shade-primary-5);
}
.bule-4 {
  color: var(--bule-4);
}
.bule-5 {
  color: var(--bule-5);
}
.tint-primary-3 {
  color: var(--tint-primary-3);
}
.sematic-1 {
  color: var(--sematic-1);
}
.sematic-7 {
  color: var(--sematic-7);
}
.main-color-primary {
  color: var(--main-color-primary);
}
.gray-500 {
  color: var(--gray-500);
}
.dark-500 {
  color: var(--dark-500);
}
.sematic-7 {
  color: var(--sematic-7);
}
