@import "/src/global/scss/color";

input {
  border: 1px solid var(--shade-primary-2);
  height: 56px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background-color: var(--neutral-10);
  padding-left: 10px;
  color: var(--neutral-1);
  font-weight: 500;

  &::placeholder {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--bule-5);
  }
}
.text-required {
  display: inline;
  margin-left: 3px;
}
.input-wrapper {
  position: relative;
  display: grid;
  align-items: center;
}
.input-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.remove-input {
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.inputText {
  position: relative;
  &.errors {
    margin-bottom: 1.8em;
  }
  .helperText {
    position: absolute;
    top: calc(100% + 0.3em);
    color: red;
  }
}
