@use "./reset";
@use "./color";
@use "./responsive";
@use "./text";
@use "./button";
@use "./input";
@use "./selector";
@use "./carousel";
@use "./modal";
@use "./box";
@use "./video";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.fullWidth {
  width: 100%;
}
