.chooseKoseiWrap {
  position: relative;
  margin-bottom: 160px;
  .cloudSmallLeft,
  .cloudSmallRight,
  .bird,
  .cloud {
    position: absolute;
    z-index: 1;
  }
  .cloudSmallLeft {
    top: 98px;
  }
  .cloudSmallRight {
    right: 49px;
    top: 128px;
  }
  .bird {
    right: 200px;
    top: -50px;
  }
  .cloud {
    bottom: -60px;
    right: 0;
    z-index: 2;
  }
  .background {
    background: var(--background-2);
    width: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 0;
  }

  .chooseKoseiContainer {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 31px 20px;
    margin: 0 auto;
    z-index: 1;
    .chooseKoseiLeft {
      max-width: 367px;
      z-index: 1;
      margin-right: 149px;
    }
    .chooseKoseiRight {
      display: flex;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      z-index: 1;
      .oneChooseKosei {
        width: calc(50% - 12px);
        margin-right: 12px;
        position: relative;
        background: var(--neutral-10);
        box-shadow: 0px 2px 15px 0px #56668540;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        &:nth-child(2n) {
          margin-right: 0;
          margin-top: 31px;
        }
        .border {
          width: 100%;
          height: 200px;
          background-color: var(--main-color-primary);
          border-top-right-radius: 18px;
          border-top-left-radius: 18px;
          position: absolute;
          top: -7px;
          z-index: -1;
        }
        .icon {
          background-color: var(--main-color-primary);
          width: 56px;
          height: 56px;
          border-radius: 8px;
          display: grid;
          align-items: center;
          justify-content: center;
          margin-bottom: 12px;
        }
        .content {
          padding: 10px 16px 16px 16px;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    margin-bottom: 50px;
    .chooseKoseiContainer {
      flex-direction: column;
      .title {
        font-size: 22px;
        line-height: 30px;
      }
      .chooseKoseiLeft {
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 100%;
      }
    }
    .cloud {
      width: 100px;
      bottom: 0;
    }
    .cloudSmallRight {
      right: 10px;
      top: 128px;
    }
    .bird {
      right: 10px;
      top: -50px;
    }
  }
  @media screen and (max-width: 480px) {
    .chooseKoseiContainer {
      .chooseKoseiRight {
        .oneChooseKosei {
          width: 100%;
          margin-right: 0;
          margin-bottom: 31px;
          &:nth-child(2n) {
            margin-top: 0;
          }
        }
      }
    }
  }
}
