.chooseKoseiWrap {
  position: relative;
  margin-bottom: 160px;
}
.chooseKoseiWrap .cloudSmallLeft,
.chooseKoseiWrap .cloudSmallRight,
.chooseKoseiWrap .bird,
.chooseKoseiWrap .cloud {
  position: absolute;
  z-index: 1;
}
.chooseKoseiWrap .cloudSmallLeft {
  top: 98px;
}
.chooseKoseiWrap .cloudSmallRight {
  right: 49px;
  top: 128px;
}
.chooseKoseiWrap .bird {
  right: 200px;
  top: -50px;
}
.chooseKoseiWrap .cloud {
  bottom: -60px;
  right: 0;
  z-index: 2;
}
.chooseKoseiWrap .background {
  background: var(--background-2);
  width: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 0;
}
.chooseKoseiWrap .chooseKoseiContainer {
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 31px 20px;
  margin: 0 auto;
  z-index: 1;
}
.chooseKoseiWrap .chooseKoseiContainer .chooseKoseiLeft {
  max-width: 367px;
  z-index: 1;
  margin-right: 149px;
}
.chooseKoseiWrap .chooseKoseiContainer .chooseKoseiRight {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}
.chooseKoseiWrap .chooseKoseiContainer .chooseKoseiRight .oneChooseKosei {
  width: calc(50% - 12px);
  margin-right: 12px;
  background: var(--neutral-10);
  box-shadow: 0px 2px 15px 0px #56668540;
  border-radius: 18px;
  border-top: 6px solid var(--main-color-primary);
}
.chooseKoseiWrap
  .chooseKoseiContainer
  .chooseKoseiRight
  .oneChooseKosei:nth-child(2n) {
  margin-right: 0;
  margin-top: 31px;
}
.chooseKoseiWrap .chooseKoseiContainer .chooseKoseiRight .oneChooseKosei .icon {
  background-color: var(--main-color-primary);
  width: 56px;
  height: 56px;
  border-radius: 8px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.chooseKoseiWrap
  .chooseKoseiContainer
  .chooseKoseiRight
  .oneChooseKosei
  .content {
  padding: 10px 16px 16px 16px;
}

@media screen and (max-width: 1024px) {
  .chooseKoseiWrap {
    margin-bottom: 50px;
  }
  .chooseKoseiWrap .chooseKoseiContainer {
    flex-direction: column;
  }
  .chooseKoseiWrap .chooseKoseiContainer .title {
    font-size: 22px;
    line-height: 30px;
  }
  .chooseKoseiWrap .chooseKoseiContainer .chooseKoseiLeft {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .chooseKoseiWrap .cloud {
    width: 100px;
    bottom: 0;
  }
  .chooseKoseiWrap .cloudSmallRight {
    right: 10px;
    top: 128px;
  }
  .chooseKoseiWrap .bird {
    right: 10px;
    top: -50px;
  }
}

@media screen and (max-width: 480px) {
  .chooseKoseiWrap .chooseKoseiContainer .chooseKoseiRight .oneChooseKosei {
    width: 100%;
    margin-right: 0;
    margin-bottom: 31px;
  }
  .chooseKoseiWrap
    .chooseKoseiContainer
    .chooseKoseiRight
    .oneChooseKosei:nth-child(2n) {
    margin-top: 0;
  }
}
