.downloadAppWrap {
  background: var(--background-1);
  position: relative;
  .container {
    display: flex;
    align-items: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 48px 20px 0px 20px;
    .left {
      margin-bottom: 50px;
    }
    .appleStore {
      margin-right: 12px;
    }
    .qrCode {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (max-width: 1024px) {
    .container {
      .phones {
        width: 250px;
        height: unset;
      }
      .qrCode {
        width: 100px;
        height: unset;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      .left {
        margin-bottom: 20px;
      }
      .right {
        width: 100%;
      }
      .qrCode {
        position: static;
        transform: none;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .container {
      .qrCode {
        width: 60px;
      }
      .phones {
        width: 150px;
      }
    }
  }
}
