.lecturersArrowsLeft {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, 50%);
  cursor: pointer;
  background: #767f8c4d;
}
.lecturersArrowsRight {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, 50%);
  cursor: pointer;
  background: #767f8c4d;
}
.videoBottom {
  pointer-events: none;
}
.learnPageContainer {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  // display: flex;
  // gap: 20px;
  .learnPage {
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
    gap: 40px;
    .learnPageLeft {
      width: 60%;
      .caroselTop {
        iframe {
          width: 100%;
          height: 400px;
        }
      }
      .caroselBottom {
        margin-bottom: 48px;
        iframe {
          width: 100%;
        }
      }
    }
    .learnPageRight {
      width: 40%;
      background: #fbfbfb;
      height: 100%;
      .collapseItem {
        border-bottom: 1px solid #edf2f7;
        .collapseTitle {
          border-bottom: 1px solid #edf2f7;
          .collapseLessonWrap {
            padding-top: 16px;
          }
          .collapseLesson {
            margin: 0 16px 0 32px;

            .collapseLectures {
              margin-left: 25px;
              border-left: 1px solid var(--neutral-5);
            }
          }
        }
      }
    }
  }
  .learnTabs {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .tabItem {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
      .tab {
        height: 40px;
        cursor: pointer;
      }
      .tabActive {
        border-bottom: 4px solid var(--main-color-primary);
      }
    }
  }
  .contentTabs {
    overflow: hidden;
  }
}
