.review .reviewTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--background-2);
  border-radius: 12px;
  margin-bottom: 48px;
}
.review .reviewTop .reviewLeft {
  text-align: center;
  width: 188px;
  display: grid;
  justify-content: center;
  padding: 0 26px;
}
.review .reviewTop .reviewRight {
  width: calc(100% - 188px);
  padding: 32px 28px;
  border-left: 1px solid var(--neutral-8);
}
.review .reviewTop .reviewRight .ratingProgress {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.review .reviewTop .reviewRight .ratingProgress .text {
  min-width: 88px;
}
.review .reviewTop .reviewRight .ratingProgress .textNumber {
  min-width: 40px;
}
.review .reviewTop .reviewRight .ratingProgress p {
  white-space: nowrap;
}
.review .reviewTop .reviewRight .ratingProgress .progress {
  width: 100%;
  background: var(--neutral-6);
  height: 4px;
  border-radius: 40px;
  margin-right: 20px;
  position: relative;
}
.review .reviewTop .reviewRight .ratingProgress .progress .progressActive {
  background: var(--main-color-primary);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 40px;
}

.review .comments .oneComment {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--neutral-8);
  padding-top: 24px;
}
.review .comments .oneComment:first-child {
  padding-top: 0;
}

.review .formComments {
  padding-top: 32px;
  margin-bottom: 120px;
}
.review .formComments .yourRating {
  margin-bottom: 32px;
}
.review .formComments .form .formItem {
  margin-bottom: 20px;
}
.review .formComments .form .formItem .input {
  background: var(--background-2);
  padding-left: 16px;
}
.review .formComments .form button {
  width: 128px;
}

@media screen and (max-width: 768px) {
  .review .reviewTop .reviewLeft {
    padding: 20px;
    width: 150px;
  }
  .review .reviewTop .reviewRight {
    padding: 20px;
    width: calc(100% - 150px);
  }
}

@media screen and (max-width: 480px) {
  .review .reviewTop {
    flex-direction: column;
    align-items: flex-start;
  }
  .review .reviewTop .reviewLeft {
    text-align: start;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .review .reviewTop .reviewRight {
    border-left: none;
    width: 100%;
  }
}
