.select {
  position: relative;
  .iconLeft {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
  }
  :global {
    .rc-select {
      height: 48px;
      border-radius: 12px;
      position: relative;
      background-color: var(--neutral-10);
    }
    .rc-select-arrow {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
    }
  }
}
