.authWrap .authContainer {
  display: flex;
  align-items: center;
  background-color: var(--background-2);
}

.authWrap .authContainer {
  min-height: 100vh;
  background: url('../../../public/Images/Default.png');
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 92px;
}


.authWrap .authContainer .right {

  background: #ffff;
  border-radius: 50px;
  display: grid;
  align-items: center;
  padding: 40px;
  min-width: 578px;
  position: relative;
  z-index: 10;
}


@media screen and (max-width: 768px) {
  .authWrap .authContainer {
    flex-direction: column;
  }

  .authWrap .authContainer .left {
    height: 200px;
    width: 100%;
  }

  .authWrap .authContainer .right {
    height: unset;
    width: 100%;
    min-height: unset;
    background-size: 300px, 300px;
    background-position: right 0px;
  }

  .authWrap .authContainer .right .rightBackground {
    padding: 50px 0;
    margin: 0 auto;
  }
}