.communityWrap {
  padding: 128px 0 166px 0;
  .communityContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    .title {
      max-width: 670px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0 auto;
      margin-bottom: 10px;
      p {
        margin: 0 16px;
      }
    }
    .textContent {
      margin-bottom: 64px;
    }
  }
  .new {
    background-color: var(--background-3);
    padding: 20px 16px;
    border-radius: 12px;
    box-shadow: 0px 8px 10px 0px #14518929;
    width: calc(33.33% - 10px);

    .img {
      height: 156px;
      width: 100%;
      background-color: var(--tint-primary-9);
      border-radius: 8px;
    }
    .tag {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      margin-top: -32px;
      .tagRing {
        height: 65px;
        width: 65px;
        border-radius: 100%;
        background-color: var(--neutral-10);
        display: grid;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
        z-index: 2;
      }
    }
    .tagText {
      width: 140px;
      height: 40px;
      background-color: var(--neutral-10);
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
      display: grid;
      align-items: center;
      margin-left: -8px;
      padding-left: 10px;
    }
  }
  .communityContent {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 768px) {
    padding: 50px 0;
    .communityContainer {
      .title {
        p {
          margin: 0 5px;
        }

        @media screen and (max-width: 480px) {
          img {
            right: 0;
            bottom: 50px;
          }
        }
      }
      .textContent {
        margin-bottom: 40px;
      }
      .communityContent {
        flex-wrap: wrap;
        .new {
          width: calc(50% - 10px);
          margin-bottom: 10px;
          @media screen and (max-width: 480px) {
            width: 100%;
            margin-right: 0;
            .textNew {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
