.buttonActive {
  background-color: var(--main-color-secondary);
  color: var(--neutral-10);
  width: 115px;
  height: 44px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.lecturersPadding {
  padding: 120px 0px;
  .lecturersWrap {
    position: relative;
    .lecturersImage {
      .teacherFlower1 {
        position: absolute;
        top: 0;
        left: 66px;
        z-index: 0;
      }
      .teacherFlower2 {
        position: absolute;
        top: 20px;
        left: 103px;
        z-index: 0;
      }
      .teacherFlower3 {
        position: absolute;
        top: 164px;
        left: 79px;
        z-index: 0;
      }
      .teacherFlower4 {
        position: absolute;
        bottom: 0;
        left: 79px;
        z-index: 0;
      }
      .teacherFlower5 {
        position: absolute;
        top: 0;
        right: 144px;
        z-index: 0;
      }
      .teacherFlower6 {
        position: absolute;
        top: 26px;
        right: 34px;
        z-index: 0;
      }
      .teacherFlower7 {
        position: absolute;
        top: 91px;
        right: 86px;
        z-index: 0;
      }
      .teacherFlower8 {
        position: absolute;
        top: 222px;
        right: 61px;
        z-index: 0;
      }
    }

    .lecturersContainer {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      position: relative;

      @media screen and (max-width: 768px) {
        .lecturersTitle {
          font-size: 22px;
          line-height: 32px;
        }
      }
    }
    .oneLecturers {
      padding: 30px 20px;
      .lecturers {
        background-color: var(--background-2);
        border-radius: 12px;
        padding: 16px;
        text-align: center;
        box-shadow: 0px 16px 24px 0px #dfe0e5;
        .button {
          width: 116px;
          height: 48px;
          border-radius: 10px;
          border: 1px solid var(--primary-lighter);
          display: grid;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
        }
        .name {
          margin-bottom: 13px;
        }
        img {
          margin: 0 auto;
        }
        .content {
          min-height: 50px;
          span,
          p {
            font-family: "BeVietnamPro-Medium" !important;
            margin-bottom: 24px;
            color: var(--neutral-4) !important;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .cloudImage {
      position: absolute;
      top: -80px;
    }

    .lecturersArrowsLeft {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, 50%);
      cursor: pointer;
      background: #767f8c4d;
    }
    .lecturersArrowsRight {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, 50%);
      cursor: pointer;
      background: #767f8c4d;
    }

    .active {
      margin-top: 40px;
    }
    .unActive {
      width: 70%;
      margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
      .active {
        margin-top: 0;
      }
      .unActive {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 50px 0;
    .lecturersWrap {
      .lecturersImage {
        .teacherFlower1 {
          left: 10px;
        }
        .teacherFlower2 {
          left: 30px;
        }
        .teacherFlower3 {
          left: 10px;
        }
        .teacherFlower4 {
          left: 30px;
          bottom: 30px;
        }
        .teacherFlower5 {
          right: 80px;
        }
        .teacherFlower6 {
          right: 10px;
        }
        .teacherFlower7 {
          right: 50px;
          width: 50px;
          height: unset;
        }
        .teacherFlower8 {
          right: 10px;
        }
      }
    }

    .imgAvatar {
      width: 100px;
      height: 100px;
    }
    .name {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.carousel {
  position: relative;
  padding-bottom: 32px;
}
