.buttonActive {
  background-color: var(--main-color-secondary);
  color: var(--neutral-10);
  width: 115px;
  height: 44px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.lecturersPadding {
  .lecturersWrap {
    background: url(/Images/background-lecturers.png), var(--background-3);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .lecturersContainer {
      max-width: 1200px;
      margin: 0 auto;
      padding: 168px 20px 120px 20px;
      position: relative;
      @media screen and (max-width: 768px) {
        .lecturersTitle {
          font-size: 22px;
          line-height: 32px;
        }
      }
    }
    .oneLecturers {
      padding: 30px 20px;
      .lecturers {
        background-color: var(--background-2);
        border-radius: 12px;
        padding: 16px 0;
        text-align: center;
        box-shadow: 0px 16px 24px 0px #dfe0e5;
        .button {
          width: 116px;
          height: 48px;
          border-radius: 10px;
          border: 1px solid var(--primary-lighter);
          display: grid;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
        }
        .name {
          margin-bottom: 13px;
        }
        img {
          margin: 0 auto;
        }
      }
    }
    .cloudImage {
      position: absolute;
      top: -80px;
    }

    .lecturersArrowsLeft {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translate(0, 50%);
      cursor: pointer;
      background: #767f8c4d;
    }
    .lecturersArrowsRight {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, 50%);
      cursor: pointer;
      background: #767f8c4d;
    }

    .active {
      margin-top: 40px;
    }
    .unActive {
      width: 70%;
      margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
      .active {
        margin-top: 0;
      }
      .unActive {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .lecturersWrap {
      .lecturersContainer {
        padding: 50px 20px 45px 20px;
      }
    }

    .imgAvatar {
      width: 100px;
      height: 100px;
    }
    .name {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.carousel {
  position: relative;
}
