.myCoursePage {
  margin-bottom: 100px;
  .tabsWrap {
    background: url("/svg/_homePage/flowerLeft.svg"),
      url("/svg/_homePage/flowerRight.svg") var(--shade-primary-6);
    background-repeat: no-repeat;
    background-position: left 56px top 50%, right 56px top 50%;
    margin-top: 0;
    margin-bottom: 48px;
    .tabsContainer {
      max-width: 1200px;
      margin: 0 auto;
      padding: 24px 20px 0px 20px;
      .tabs {
        display: flex;
        align-items: center;
        // justify-content: baseline;
        .tab {
          margin-right: 32px;
          height: 40px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
        }
        .tabActive {
          border-bottom: 4px solid var(--neutral-10);
        }
      }
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
