.registerForm {
  background-color: var(--background-2);
  border-radius: 12px;
  padding: 24px 24px 12px 24px;
  .registerFormItem {
    margin-bottom: 30px;
  }
  .form {
    margin-bottom: 12px;
  }
  button {
    width: 100%;
  }
}
