.container {
  padding: 0px 12px;

  @media screen and (max-width: 1199.5px) {
    padding: 0;
  }

  a {
    color: var(--l2)
  }

  .collapseItem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-weight: 700;


  }

  .seperator {
    height: 1px;
    background: var(--gray-4);
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .arrow {
    margin-left: 16px;
    transform: rotate(180deg);
  }

  .arrow_open {
    margin-left: 16px;
    transform: rotate(0deg);
  }
}