.container {
  width: 100%;

  .collapseItem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 8px 20px;
    box-shadow: 0px 2px 20px 0px #4c577d26;
    .collapseItemLeft {
      display: flex;
      align-items: center;
    }
  }

  .seperator {
    height: 1px;
    background: var(--gray-4);
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .arrow {
    transform: rotate(180deg);
  }

  .arrow_open {
    transform: rotate(0deg);
  }
}
