.containerClass {
  height: unset;
  width: calc(100% - 80px);
  margin: 0 auto;
  overflow: hidden;
  .react-multiple-carousel__arrow--right {
    right: 0;
  }
}
.courseCarouselPadding {
  padding-bottom: 120px;
  .courseCarouselWrap {
    padding-top: 128px;
    background-image: url(/Images/background-comment.png),
      url(/Images/cloud-left.png), url(/Images/cloud-right.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left top, left bottom, right 116px;
    .courseCarouselContainer {
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
      .title {
        margin-bottom: 24px;
      }
      .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 38px;
        .buttonTab {
          width: unset;
          padding: 0 16px;
          margin-right: 16px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .courseCarouselPadding {
    padding-bottom: 80px;

    .courseCarouselWrap {
      padding: 20px 0;
      background-size: 100px, 100px;
      background-position: left top, left bottom, right 60px;

      .courseCarouselContainer {
        padding: 0 50px;
        .title {
          font-size: 22px;
          line-height: 30px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .courseCarouselPadding {
    .courseCarouselWrap {
      .courseCarouselContainer {
        padding: 0 20px;

        @media screen and (max-width: 480px) {
          padding: 0 10px;
          .title {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 10px;
          }
          .tabs {
            .buttonTab {
              font-size: 12px;
              margin-right: 5px;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}
