@mixin defaultsize {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@keyframes inputSearch {
  0% {
    background: white;
    width: 0;
  }
  100% {
    background: #f2f8ff;
    width: calc(100% - 300px);
  }
}

.inputSearch {
  width: calc(100% - 300px);
  display: flex;
  align-items: center;
  input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    animation-name: inputSearch;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.container {
  align-items: center;
  width: 100vw;
  z-index: 3;
  background: var(--neutral-10);
  box-shadow: 0px 8px 10px 0px #14518929;
  @include defaultsize {
    position: sticky;
    top: 0;
  }

  .content {
    max-width: 1200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: transparent;
    padding: 0;
    height: 80px;
    margin: auto;
    .link {
      margin-right: 24px;
    }
    // .inputSearch {
    //   input {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 100%;
    //     height: 50px;
    //   }
    // }
    .menuRight {
      display: flex;
      align-items: center;
      width: 280px;
      justify-content: flex-end;
      .icons {
        display: flex;
        align-items: center;
        img {
          cursor: pointer;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      padding: 0 20px;
    }

    @include defaultsize {
      height: 44px;
      background-color: white;
      padding: 6px 16px;
    }

    .headerMobile {
      width: 100%;
      display: none;
      justify-content: space-between;
      .logoGroup {
        cursor: pointer;
        svg {
          width: 24px;
          height: 24px;
        }
        display: grid;
        grid-template-columns: auto auto;
        gap: 24px;
        align-items: center;
      }
      button {
        line-height: 24px;
        height: auto;
      }
      @include defaultsize {
        display: flex;
      }
    }
    main {
      width: 100%;
      @include defaultsize {
        position: absolute;
        top: 0;
        left: 0;
        &::before {
          content: "";
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          position: absolute;
          background: rgba(0, 0, 0, 0.5);
          z-index: -1;
          display: none;
        }
        &[class~="open"] {
          &::before {
            display: block;
          }
        }
      }
      .containerLink {
        width: 100%;
        display: flex;
        align-items: center;
        @include defaultsize {
          position: absolute;
          top: 0;
          left: 0;
          width: 324px;
          height: 100vh;
          transition: 0.3s ease-in-out;
          transform: translateX(-100%);
          background-color: white;
          display: block;
          &[class~="open"] {
            transform: translateX(0%);
          }
        }
      }
      .mobileNavbar {
        display: flex;
        align-items: center;
        height: 44px;
        @include defaultsize {
          padding: 0 16px;
        }

        .closeIcon {
          display: none;
        }
        .logo {
          cursor: pointer;
          // margin-right: 123px;
          width: 180px;
          @media (max-width: 1024px) {
            img {
              width: 60px;
              height: 30px;
            }
          }
        }
        @include defaultsize {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .closeIcon {
            display: block;
            width: 16px;
            height: 16px;
          }
        }
      }
      .link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include defaultsize {
          width: 100%;
          flex-direction: column;
          padding: 32px 16px 0 16px;
        }
        .a {
          color: var(--white);
          display: inline;
          position: relative;
          align-items: center;
          border-style: solid;
          border-color: transparent;
          &::after {
            display: block;
            content: "";
            position: absolute;
            top: 100%;
            height: 15px;
            width: 100%;
            left: 0;
            background-color: transparent;
          }
          &.highlight {
            border-color: var(--l1);
          }

          cursor: pointer;
          .subTitle {
            display: flex;
            align-items: center;
            &:hover {
              svg {
                path {
                  fill: var(--primary-bule);
                }
              }
            }
          }
          &:hover,
          &:focus {
            .subNavbar {
              opacity: 1;
              height: 100px;
              @include defaultsize {
                height: initial;
              }
            }
            svg {
              transform: rotate(-180deg);
              @include defaultsize {
                transform: initial;
              }
            }
          }
          .subNavbar {
            top: calc(100%);
            left: 0;
            height: 0px;
            position: absolute;
            opacity: 0;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            gap: 8px;
            transition: 0.3s ease-in-out;
            box-sizing: border-box;
            overflow: hidden;
            z-index: 99;
            display: block;
            background: #ffffff;
            padding: 12px;
            @include defaultsize {
              background: transparent;
              display: grid;
              grid-template-columns: 100%;
              padding: 12px 0 0;
              opacity: 1;
              height: initial;
              position: relative;
              box-shadow: none;
            }
            a {
              padding: 8px 16px;
              display: block;
              color: var(--gray-1);
              white-space: nowrap;
              background: #ffffff;
              border-radius: 4px;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              &:hover {
                background-color: #efefef;
              }
              @include defaultsize {
                // margin-bottom: 0.5em;
                // padding: 0;
                // &::before {
                //   content: "";
                //   padding-left: 1em;
                //   margin-right: 0.5em;
                // }
              }
            }
          }
        }
        p:hover {
          color: var(--primary-bule);
        }

        @media screen and (max-width: 1024px) {
          a,
          .subTitle {
            margin-bottom: 10px;
          }
        }
      }
      .auth {
        display: flex;
        align-items: center;
        margin-left: 24px;
        white-space: nowrap;
        @media screen and (max-width: 1024px) {
          margin-left: 0;
          padding: 0 16px;
        }
        .space {
          padding: 0 8px;
        }
      }
    }
  }
}
