.forgotPasswordWrap {
  .back {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    cursor: pointer;
  }
  .forgotPasswordForm {
    .forgotPasswordItem {
      margin-bottom: 32px;
      .input {
        background: var(--background-2);
      }
    }
    button {
      width: 100%;
    }
  }

  .inputOtp {
    outline: none !important;
    width: 2em !important;
  }
  ::placeholder {
    color: #a0aec0;
    font-size: 80px;
  }
  .otpInput {
    max-width: 444px;
    justify-content: center;
    gap: 40px;
    margin: 44px 0;
  }
  .textEmail {
    color: #0c4c8c;
  }
  button {
    width: 100%;
  }
}
