.achievementsPadding {
  .achievementsWrap {
    background: url(/Images/frame.png), var(--background-2);
    background-repeat: no-repeat;
    background-position: top right;
    .achievementsContainer {
      max-width: 1200px;
      margin: 0 auto;
      padding: 48px 20px 48px 20px;
      position: relative;
      .title {
        margin-bottom: 10px;
      }
      .textContent {
        margin-bottom: 54px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .achievementsWrap {
      .achievementsContainer {
        padding: 50px 20px 0px 20px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .achievementsWrap {
      .achievementsContainer {
        padding: 20px 20px 0px 20px;
        .title {
          margin-bottom: 10px;
          font-size: 22px;
          line-height: 32px;
        }
        .textContent {
          margin-bottom: 40px;
        }
      }
    }
  }
}
.oneAchievementsPadding {
  padding: 20px 10px;
}
.oneAchievements {
  padding: 12px 16px;
  background-color: var(--tint-primary-1);
  border-radius: 12px;
  box-shadow: 0px 8px 10px 0px #14518929;

  .img {
    width: 100%;
    position: relative;
    margin-bottom: 11px;
    img {
      width: 100%;
    }
    .zoomOut {
      width: 32px;
      height: 32px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background: #23232399;
      box-shadow: 0px 4px 4px 0px #00000040;
      position: absolute;
      bottom: 8px;
      right: 8px;
      cursor: pointer;
    }
  }
  .info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .point {
      background: var(--bule-2);
      border-radius: 12px;
      padding: 5px 10px;
      text-align: center;
    }
  }
}
