.breadcrumb {
  background: var(--shade-primary-4);
}

.breadcrumb .breadcrumbContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.breadcrumb .text {
  color: var(--neutral-5);
}

.breadcrumb .textActive {
  color: var(--neutral-10);
}

.breadcrumb .dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: var(--neutral-5);
  margin: 0 8px;
}