.bg {
  background-image: url('../../public/Images/banner-about-us.png');
  height: 100vh;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width:680px) {
  .bg {
    height: auto;
  }

  .bgFilter {
    height: fit-content !important;
    border-radius: 0 !important
  }
}

.bgr {
  background-image: url('../../public//Images//background.png');
  height: fit-content;
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}



/* .bgFilter {
  background-color: #DFECFF;
  background-image: url('../../public/Images/filter.png');
  background-blend-mode: overlay;
  height: 70vh;
  width: 100%;
  opacity: 0.5;

} */


.bgFilter {
  content: "";
  background-image: url('../../public/Images/filter.png');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #DFECFF;
  background-blend-mode: overlay;
  height: 110vh;
  border-top-right-radius: 10%;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width:1550px) {
  .bgFilter {
    height: 80vh;
  }
}