.courseDetailWrap {
  background: var(--background-3);
}

.courseDetailWrap .contentCourseWrap {
  position: relative;
  background: url(/Images/_detailCourse/bg-2.png),
    url(/Images/_detailCourse/bg-1.png), var(--background-3);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top, right 410px;
}

.courseDetailWrap .contentCourseWrap .contentCourseContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 20px 114px 20px;
}

.courseDetailWrap .contentCourseWrap .contentCourseContainer .contentCourse {
  width: calc(100% - 390px);
}

.courseDetailWrap .contentCourseWrap .contentCourseContainer .imagesDetail {
  position: absolute;
  right: 0;
  top: 800px;
}

.courseDetailWrap .courseCarousel {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  margin-bottom: 145px;
}

.courseDetailWrap .contentWrap {
  max-width: 1200px;
  position: absolute;
  margin: 0 auto;
  padding: 0 20px;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
}

.courseDetailWrap .contentWrap .content {
  position: absolute;
  right: 0;
  width: 390px;
}

.courseDetailWrap .contentWrap .content .mascot {
  position: absolute;
  right: 47px;
}

.courseDetailWrap .contentWrap .content .handLeft {
  position: absolute;
  top: 280px;
  left: 0;
  z-index: 2;
}

.courseDetailWrap .contentWrap .content .handRight {
  position: absolute;
  right: -20px;
  top: 216px;
  z-index: 2;
}

.courseDetailWrap .contentWrap .content .buyCourses {
  position: absolute;
  top: 250px;
  right: -10%;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .courseDetailWrap .contentCourseWrap .contentCourseContainer .imagesDetail {
    display: none;
  }

  .courseDetailWrap .contentCourseWrap .buyCourses {
    right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .courseDetailWrap .contentWrap {
    position: static;
    margin-top: 20px;
  }

  .courseDetailWrap .contentWrap .content {
    width: 100%;
    position: static;
  }

  .courseDetailWrap .contentWrap .content .mascot {
    display: none;
  }

  .courseDetailWrap .contentWrap .content .handLeft {
    display: none;
  }

  .courseDetailWrap .contentWrap .content .handRight {
    display: none;
  }

  .courseDetailWrap .contentWrap .content .buyCourses {
    position: static;
  }

  .courseDetailWrap .contentCourseWrap .contentCourseContainer .contentCourse {
    width: 100%;
  }

  .courseDetailWrap .courseCarousel {
    margin-bottom: 50px;
  }
}