.modalMess {
  display: flex;
  align-items: center;
  .button {
    width: 100%;
  }
  :global {
    .rc-dialog {
      margin: 0 auto;
      .rc-dialog-content {
        margin: 0 20px;
      }
    }
  }
}
