.forgotPasswordWrap .back {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  cursor: pointer;
}

.forgotPasswordWrap .forgotPasswordForm .forgotPasswordItem {
  margin-bottom: 32px;
}
.forgotPasswordWrap .forgotPasswordForm .forgotPasswordItem .input {
  background: var(--background-2);
}

.forgotPasswordWrap .forgotPasswordForm button {
  width: 100%;
}
