.forgotPasswordWrap {
  .back {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    cursor: pointer;
  }
  .forgotPasswordForm {
    .forgotPasswordItem {
      margin-bottom: 32px;
      .input {
        background: var(--background-2);
      }
    }
    button {
      width: 100%;
    }
  }
}
