.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  .collapseItemLeft {
    display: flex;
    align-items: center;
    .border {
      width: 12px;
      height: 1px;
      border: 1px solid var(--neutral-5);
      margin-right: 22px;
    }
  }
  .collapseItemRight {
    display: flex;
    align-items: center;
    .percent,
    svg,
    circle {
      width: 24px;
      height: 24px;
    }
    circle {
      position: absolute;
      fill: none;
      stroke-width: 10;
      transform: translate(10px, 10px);
      stroke-dasharray: 50;
      stroke-linecap: round;
    }

    circle:nth-child(1) {
      stroke-dashoffset: 0;
      stroke: #424242;
    }
    .percent circle:nth-child(1) {
      stroke-dashoffset: calc(50 - (50 * 75) / 100);
      stroke: gold;
      animation: percent 1.5s linear;
      animation-delay: 1s;
    }
    .number {
      position: relative;
      bottom: 190px;
      right: -50px;
      color: red;
    }
  }
}
