.downloadAppWrap {
  background: url(/images/side-left.png), url(/svg/_homePage/ring-4.svg),
    url(/images/cloud-right.png), var(--background-2);
  background-repeat: no-repeat;
  background-position: left top, right top, right bottom 24px;
  .downloadAppContainer {
    padding: 100px 20px 0 20px;
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;

    .left {
      margin-right: 44px;
      background: url(/svg/_homePage/ring-1.svg);
      background-repeat: no-repeat;
      background-position: left bottom;
      img {
        margin-left: 45px;
      }
    }
    .right {
      margin-top: 42px;
      .title {
        max-width: 300px;
      }
      .textContent {
        max-width: 331px;
      }
      .appleStore {
        margin-right: 16px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    background-size: 90px;
    .downloadAppContainer {
      padding-top: 50px;
      align-items: flex-end;
      .left {
        img {
          width: 200px;
          height: auto;
        }
      }
      .right {
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .downloadAppContainer {
      .left {
        display: none;
      }
    }
  }
}
